[submodule "Mod1/dsc-dealing-with-categorical-variables-lab-online-ds-ft-081219"]
	path = Mod1/dsc-dealing-with-categorical-variables-lab-online-ds-ft-081219
	url = https://github.com/learn-co-students/dsc-dealing-with-categorical-variables-lab-online-ds-ft-081219.git
